@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: montserrat!important;
}

nav ul{
    border-bottom: 1px solid #dfc7c7;
}

nav ul li.antialiased.font-sans{
    /* border: 1px solid black; */
    margin-right: 2px;
    background-color: rgb(201, 200, 228);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

nav ul li.antialiased.font-sans .shadow{
    border: 1px solid black;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
nav ul li.antialiased.font-sans .z-20.text-inherit{
   font-size: 10px;
}


.grid-class .grid .bg-gray-100.p-4.rounded{
    background: none;
}

/* .demography-class{
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
} */


.demography-class {
    background-color: #020264;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
}

.apexcharts-title-text{
    display: none;
}

.apexcharts-legend.apexcharts-align-center{
   margin-top: 30px;
}


.age-section{
    margin-left: -20px;
    border-right: 1px solid rgb(206, 206, 214);
}

.table-header{
    align-items: center;
    border-top: 0px;
}
.table-tead-bgcolor{
    background-color: #fff;
}

.box-border-class{
    border-left: 4px solid #020264;
}